body{
	margin: 0;
	padding: 0;
}

.nav{
	background-color: black;
	width: 100%;
	display: flex;
	

	}
.nav h1{
	
	color: aliceblue;
	
}
.product{
	
	display: flex;
	align-items: center;
	flex:1;
	
	float: left;
}
.nav img{
	float: left;
	width: 10%;
	padding-right: 5px;
	padding-left : 5px;
	
}
.items{
	padding: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 2;

}
.nav ul{
	
	list-style: none;
	text-align: right;
}
.nav li{
	
	padding-right: 6px;
	display: inline-block;
	
}
.nav a{
font-family: Arial;
font-size: 13px;
text-transform: uppercase;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
	
	
	
}
.nav a:hover{
	color: gray;
}
.active{
	border-bottom: solid white;
}